body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #2e2e2e;
  background-color: rgb(251, 251, 251);
}

.player-card{
  height: auto;
  width: 380px;
  background-color: #FFFDEA;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #00000020;
}

.player-header{
  height: auto;
  width: 380px;
  background-color: #FF9898;
  display: inline-block;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 4px solid #ee3b3b;
}

h1{
  font-family: 'DM Serif Text', serif;
  color: #c9c9c9;
  font-size: 70px;
}

h2{
  font-family: 'DM Serif Text', serif;
  color: #2e2e2e;
  font-size: 40px;
  margin-top: 12px;
  margin-bottom: 0;
}

h3{
  font-family: 'DM Serif Text', serif;
  color: #2e2e2e;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

img {
  border: 4px solid #eef200;
  border-radius: 400px;
  margin: 20px;
  height: 260px;
  width: 260px;
}

H4{
  color: #ee3b3b;
  font-size: 40px;
  font-family: 'Yellowtail', cursive;
  margin-top: 0px;
  margin-bottom: 20px;
}

.stats{
  display: flex;
  justify-content:space-evenly;
  margin-top: 0px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 20px;
  font-family: 'DM Serif Text', serif;
  color: #2e2e2e;
  font-size: 16px;
}

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

